// Projekt - Webbutveckling III - Moa Hjemdahl 2019

// Imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sedgwick+Ave+Display&display=swap');

// Varibles
// Colors
$dark: #414141;
$light: #fffeeb;
$yellow: #ffffb1;
$pink: #ff9393;
$gray: #9a9a9a;

// Fonts
$open: 'Open Sans', Sans-serif;
$sedg: 'Sedgwick Ave Display', Serif;