// Projekt - Webbutveckling III - Moa Hjemdahl 2019

// Blocks
#startBlock {
    background-color: $dark;
}
#portfolioBlock {
    background-color: $dark;
}
#studiesBlock {
    background-color: $yellow;
}
#workBlock {
    background-color: $pink;
}
#aboutBlock {
    background-color: $dark;
}
// Headers
h1 {
    font-family: $sedg;
    font-size: 4em;
    margin: 30px 0;
}
.yellow {
    color: $yellow;
}
.pink {
    color: $pink;
}
.gray {
    color: $gray;
}
.dark {
    color: $dark;
}

// Navigation
ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
    li {
        list-style: none;
        .nav {
            font-family: $open;
            font-size: 1.2em;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: .09em;
            color: $gray;
            &:hover {
                color: $yellow;
            }
        }
    }
}

// Back to top button
.btt {
    position: fixed;
    top: 80%;
    right: 5%;
    height: 50px;
    width: 50px;
    background-color:$yellow;
    color: $dark;
    border: 1px solid $dark;
    border-radius: 50px;
    font-family: $sedg;
    font-size: 1.1em;
    letter-spacing: .05em;
    text-decoration: none;
    text-align: center;
    padding: 25px;
}

// Contact button
.bttKontakt {
    @extend .btt;
    top: -10px;
    left: 5%;
    height: 25px;
    width: 130px;
    border: 1px solid $dark;
    border-radius: 10px;
    font-family: $open;
    font-size: 0.85em;
    letter-spacing: .05em;
    text-decoration: none;
    text-align: center;
    padding: 15px 0 0 0;
}

// Portfolio
#portfolio {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: $gray;
    font-family: $open;
}
.portfolioRow {
    margin: 0 40px 40px 40px;
}
h3 {
    font-weight: 100;
}
.portfolioPic {
    max-width: 200px;
    border-radius: 20px;
    margin: 10px 0;
}
.portfolioInfo {
    max-width: 200px;
    font-size: 0.85em;
}

// Table
.tbl {
    width: 80%;
    overflow-x: scroll;
    white-space: nowrap;
}
table {
    width: 100%;
    padding: 40px;
    border-radius: 50px;
    background-color: $light;
    font-family: $open;
    th {
        text-align: left;
        color: $pink;
        font-size: 1.1em;
        font-weight: 100;
        padding: 0 20px;        
    }
    td {
        font-size: .85em;
        color: $dark;
        height: 40px;
        padding: 0 20px;
        min-width: 80px;
    }
}

// Info block
#infoPic {
    max-width: 500px;
    border-radius: 50px;
}
.info {
    font-family: $open;
    color: $gray;
    max-width: 500px;
    line-height: 1.6em;
    font-size: .85em;
    margin: 20px 30px;
}

// Media query
@media screen and (max-width: 800px) {
    //Navigation
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
            height: 50px;
            }
    }
    // Info block
    .info {
        margin: 20px 30px 140px 30px;
    }
}

@media screen and (max-width: 500px) {
    // Headers
    h1 {
        font-size: 3.5em;
    }
    // Portfolio
    .portfolioRow {
        margin: 0 20px 40px 20px;
    }
    // Info block
    #infoPic {
        border-radius: 0px;
    }
}